header{
  text-align: center;
background-color: IndianRed;
}
img{
  float:left;
  height: auto;
  width: auto;
}
#one{
  background-color: BlanchedAlmond;
  display: inline-block;
  vertical-align: middle;
}
#two{
  background-color: BlanchedAlmond;
}
#third{
  background-color: LightSalmon;
  border-top: #B22222;
}
