header{
  text-align: center;
background-color: IndianRed;
}
img{
  float:left;
  height: auto;
  width: auto;
}
section.{
  background-color: BlanchedAlmond;
}
section.{
  background-color: LightSalmon;
}
